/* common files */
/*
$green: #0a7f15;
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import '/node_modules/flexboxgrid/css/flexboxgrid.min.css';
html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
  overflow: hidden;
  font-size: 14px;
}

#root {
  height: 100%;
  width: 100%;
}

button {
  border: none;
}

label input[type=file] {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border: 1px solid #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* poppins font style */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular, .portfolio-project__desc-text, .portfolio-job__period, .portfolio-job__title, .portfolio-tag__body, .portfolio-header__lname, .paragraph-12 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium, .portfolio-job__desc, .paragraph-16 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold, .portfolio-project__title, .portfolio-job__company, .portfolio-header__fname, .title-32, .title-64, .title-45 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.title-45 {
  color: white;
  font-size: 45px;
}
.title-64 {
  color: white;
  font-size: 64px;
}
.title-32 {
  color: white;
  font-size: 32px;
}

.paragraph-16 {
  color: #e1e1e1;
  font-size: 16px;
}
.paragraph-12 {
  color: #e1e1e1;
  font-size: 12px;
}

/* layout files */
.portfolio-header {
  height: 5.7142857143rem;
  max-height: 5.7142857143rem;
  width: 100%;
}
.portfolio-header__content {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 20px);
  margin: auto;
  padding: 1.4285714286rem 0.7142857143rem 0 0.7142857143rem;
}
@media screen and (max-width: 1025px) {
  .portfolio-header__content {
    width: calc(100% - 40px);
    padding: 1.4285714286rem;
  }
}
@media screen and (min-width: 1080px) {
  .portfolio-header__content {
    width: 73.1428571429rem;
    padding-left: 0;
    padding-right: 0;
  }
}
.portfolio-header__fname {
  font-size: 22px;
  color: white;
}
@media screen and (max-width: 1025px) {
  .portfolio-header__fname {
    font-size: 18px;
  }
}
.portfolio-header__lname {
  font-size: 10px;
  color: white;
}
.portfolio-header__btn-link {
  color: #e1e1e1;
  border-radius: 8px;
  padding: 10px;
  height: 15px;
  border: 1px solid #9a9a9a;
  display: inline-block;
  text-decoration: none;
}
.portfolio-header__btn-link:hover {
  color: black;
  background-color: white;
}

.portfolio-main {
  width: 100%;
  height: calc(100% - 160px);
  overflow-y: auto;
  padding: 2.8571428571rem 0;
}
.portfolio-main-content {
  background-image: url("/src/assets/images/background-pattern.png");
  background-repeat: no-repeat;
  width: calc(100% - 20px);
  margin: auto;
}
@media screen and (max-width: 1025px) {
  .portfolio-main-content {
    width: calc(100% - 20px);
    padding: 0 0.7142857143rem;
  }
}
@media screen and (min-width: 1080px) {
  .portfolio-main-content {
    width: 73.1428571429rem;
  }
}
.portfolio-main__section {
  padding: 2.1428571429rem 0.7142857143rem;
}
.portfolio-main__footer {
  min-height: 3.5714285714rem;
  padding: 1.4285714286rem;
  width: 71.7142857143rem;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 1025px) {
  .portfolio-main__footer {
    width: calc(100% - 40px);
  }
}

/* component files */
.portfolio-dp {
  height: 16.5rem;
  width: 16.5rem;
  background-color: #1a1a1a;
  border-radius: 100%;
  margin: auto;
  background-image: url("/src/assets/images/self.jpg");
  background-size: cover;
}

.portfolio-tag {
  height: 1.4285714286rem;
  border-radius: 1.4285714286rem;
  background: linear-gradient(to right, purple, orange);
  margin: 0 0.3571428571rem;
  box-sizing: content-box;
}
.portfolio-tag__body {
  height: 1.0714285714rem;
  padding: 2px 7px 0.5px 7px;
  margin: 0px 1px;
  color: white;
  font-size: 10px;
  background: black;
  border-radius: 1.4285714286rem;
  cursor: pointer;
  display: inline-block;
}

.portfolio-job__header {
  display: flex;
  justify-content: space-between;
}
.portfolio-job__company {
  font-size: 18px;
  color: white;
  display: inline-block;
}
.portfolio-job__title {
  font-size: 18px;
  color: white;
  display: inline-block;
  padding-left: 5px;
}
@media screen and (max-width: 481px) {
  .portfolio-job__title {
    font-size: 12px;
    padding-left: 0;
  }
}
.portfolio-job__period {
  font-size: 12px;
  color: #e1e1e1;
  text-transform: uppercase;
}
.portfolio-job__desc {
  font-size: 12px;
  color: #e1e1e1;
}

.portfolio-project {
  position: relative;
}
.portfolio-project__content {
  position: relative;
  width: 60%;
  z-index: 2;
}
@media screen and (max-width: 1025px) {
  .portfolio-project__content {
    z-index: 0;
    width: 100%;
  }
}
.portfolio-project__title {
  font-size: 18px;
  color: white;
  margin: 10px 0;
}
.portfolio-project__desc {
  min-height: 5.7142857143rem;
  position: relative;
  background-color: rgba(88, 89, 93, 0.6);
  border-radius: 20px;
}
.portfolio-project__desc::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  width: 100%;
}
.portfolio-project__desc-text {
  width: calc(100% - 20px);
  color: white;
  font-size: 12px;
  padding: 10px;
}
@media screen and (max-width: 1025px) {
  .portfolio-project__desc {
    border-radius: 0;
  }
}
.portfolio-project__snapshot {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  background: #222;
  background-image: url("/src/assets/images/project-snapshot.png");
  background-size: cover;
  height: 10.7142857143rem;
  width: 32.8571428571rem;
  cursor: pointer;
}
.portfolio-project__snapshot:hover {
  border: 2px solid #e1e1e1;
}
@media screen and (max-width: 1025px) {
  .portfolio-project__snapshot {
    width: 100%;
    position: relative;
  }
}

/* vendor files */
/* common utilities - imported last for effective global usage */
.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.m-a-0 {
  margin: 0px;
}

.m-a-n0 {
  margin: 0px;
}

.p-a-0 {
  padding: 0px !important;
}

.m-a-1 {
  margin: 4px;
}

.m-a-n1 {
  margin: -4px;
}

.p-a-1 {
  padding: 4px !important;
}

.m-a-2 {
  margin: 8px;
}

.m-a-n2 {
  margin: -8px;
}

.p-a-2 {
  padding: 8px !important;
}

.m-a-3 {
  margin: 12px;
}

.m-a-n3 {
  margin: -12px;
}

.p-a-3 {
  padding: 12px !important;
}

.m-a-4 {
  margin: 16px;
}

.m-a-n4 {
  margin: -16px;
}

.p-a-4 {
  padding: 16px !important;
}

.m-a-5 {
  margin: 20px;
}

.m-a-n5 {
  margin: -20px;
}

.p-a-5 {
  padding: 20px !important;
}

.m-a-6 {
  margin: 24px;
}

.m-a-n6 {
  margin: -24px;
}

.p-a-6 {
  padding: 24px !important;
}

.m-a-7 {
  margin: 28px;
}

.m-a-n7 {
  margin: -28px;
}

.p-a-7 {
  padding: 28px !important;
}

.m-a-8 {
  margin: 32px;
}

.m-a-n8 {
  margin: -32px;
}

.p-a-8 {
  padding: 32px !important;
}

.m-a-9 {
  margin: 36px;
}

.m-a-n9 {
  margin: -36px;
}

.p-a-9 {
  padding: 36px !important;
}

.m-a-10 {
  margin: 40px;
}

.m-a-n10 {
  margin: -40px;
}

.p-a-10 {
  padding: 40px !important;
}

.m-a-11 {
  margin: 44px;
}

.m-a-n11 {
  margin: -44px;
}

.p-a-11 {
  padding: 44px !important;
}

.m-a-12 {
  margin: 48px;
}

.m-a-n12 {
  margin: -48px;
}

.p-a-12 {
  padding: 48px !important;
}

.m-a-13 {
  margin: 52px;
}

.m-a-n13 {
  margin: -52px;
}

.p-a-13 {
  padding: 52px !important;
}

.m-a-14 {
  margin: 56px;
}

.m-a-n14 {
  margin: -56px;
}

.p-a-14 {
  padding: 56px !important;
}

.m-a-15 {
  margin: 60px;
}

.m-a-n15 {
  margin: -60px;
}

.p-a-15 {
  padding: 60px !important;
}

.m-a-16 {
  margin: 64px;
}

.m-a-n16 {
  margin: -64px;
}

.p-a-16 {
  padding: 64px !important;
}

.m-a-17 {
  margin: 68px;
}

.m-a-n17 {
  margin: -68px;
}

.p-a-17 {
  padding: 68px !important;
}

.m-a-18 {
  margin: 72px;
}

.m-a-n18 {
  margin: -72px;
}

.p-a-18 {
  padding: 72px !important;
}

.m-a-19 {
  margin: 76px;
}

.m-a-n19 {
  margin: -76px;
}

.p-a-19 {
  padding: 76px !important;
}

.m-a-20 {
  margin: 80px;
}

.m-a-n20 {
  margin: -80px;
}

.p-a-20 {
  padding: 80px !important;
}

.m-x-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.m-x-n0 {
  margin-left: 0px;
  margin-right: 0px;
}

.p-x-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.m-x-1 {
  margin-left: 4px;
  margin-right: 4px;
}

.m-x-n1 {
  margin-left: -4px;
  margin-right: -4px;
}

.p-x-1 {
  padding-left: 4px;
  padding-right: 4px;
}

.m-x-2 {
  margin-left: 8px;
  margin-right: 8px;
}

.m-x-n2 {
  margin-left: -8px;
  margin-right: -8px;
}

.p-x-2 {
  padding-left: 8px;
  padding-right: 8px;
}

.m-x-3 {
  margin-left: 12px;
  margin-right: 12px;
}

.m-x-n3 {
  margin-left: -12px;
  margin-right: -12px;
}

.p-x-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.m-x-4 {
  margin-left: 16px;
  margin-right: 16px;
}

.m-x-n4 {
  margin-left: -16px;
  margin-right: -16px;
}

.p-x-4 {
  padding-left: 16px;
  padding-right: 16px;
}

.m-x-5 {
  margin-left: 20px;
  margin-right: 20px;
}

.m-x-n5 {
  margin-left: -20px;
  margin-right: -20px;
}

.p-x-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.m-x-6 {
  margin-left: 24px;
  margin-right: 24px;
}

.m-x-n6 {
  margin-left: -24px;
  margin-right: -24px;
}

.p-x-6 {
  padding-left: 24px;
  padding-right: 24px;
}

.m-x-7 {
  margin-left: 28px;
  margin-right: 28px;
}

.m-x-n7 {
  margin-left: -28px;
  margin-right: -28px;
}

.p-x-7 {
  padding-left: 28px;
  padding-right: 28px;
}

.m-x-8 {
  margin-left: 32px;
  margin-right: 32px;
}

.m-x-n8 {
  margin-left: -32px;
  margin-right: -32px;
}

.p-x-8 {
  padding-left: 32px;
  padding-right: 32px;
}

.m-x-9 {
  margin-left: 36px;
  margin-right: 36px;
}

.m-x-n9 {
  margin-left: -36px;
  margin-right: -36px;
}

.p-x-9 {
  padding-left: 36px;
  padding-right: 36px;
}

.m-x-10 {
  margin-left: 40px;
  margin-right: 40px;
}

.m-x-n10 {
  margin-left: -40px;
  margin-right: -40px;
}

.p-x-10 {
  padding-left: 40px;
  padding-right: 40px;
}

.m-x-11 {
  margin-left: 44px;
  margin-right: 44px;
}

.m-x-n11 {
  margin-left: -44px;
  margin-right: -44px;
}

.p-x-11 {
  padding-left: 44px;
  padding-right: 44px;
}

.m-x-12 {
  margin-left: 48px;
  margin-right: 48px;
}

.m-x-n12 {
  margin-left: -48px;
  margin-right: -48px;
}

.p-x-12 {
  padding-left: 48px;
  padding-right: 48px;
}

.m-x-13 {
  margin-left: 52px;
  margin-right: 52px;
}

.m-x-n13 {
  margin-left: -52px;
  margin-right: -52px;
}

.p-x-13 {
  padding-left: 52px;
  padding-right: 52px;
}

.m-x-14 {
  margin-left: 56px;
  margin-right: 56px;
}

.m-x-n14 {
  margin-left: -56px;
  margin-right: -56px;
}

.p-x-14 {
  padding-left: 56px;
  padding-right: 56px;
}

.m-x-15 {
  margin-left: 60px;
  margin-right: 60px;
}

.m-x-n15 {
  margin-left: -60px;
  margin-right: -60px;
}

.p-x-15 {
  padding-left: 60px;
  padding-right: 60px;
}

.m-x-16 {
  margin-left: 64px;
  margin-right: 64px;
}

.m-x-n16 {
  margin-left: -64px;
  margin-right: -64px;
}

.p-x-16 {
  padding-left: 64px;
  padding-right: 64px;
}

.m-x-17 {
  margin-left: 68px;
  margin-right: 68px;
}

.m-x-n17 {
  margin-left: -68px;
  margin-right: -68px;
}

.p-x-17 {
  padding-left: 68px;
  padding-right: 68px;
}

.m-x-18 {
  margin-left: 72px;
  margin-right: 72px;
}

.m-x-n18 {
  margin-left: -72px;
  margin-right: -72px;
}

.p-x-18 {
  padding-left: 72px;
  padding-right: 72px;
}

.m-x-19 {
  margin-left: 76px;
  margin-right: 76px;
}

.m-x-n19 {
  margin-left: -76px;
  margin-right: -76px;
}

.p-x-19 {
  padding-left: 76px;
  padding-right: 76px;
}

.m-x-20 {
  margin-left: 80px;
  margin-right: 80px;
}

.m-x-n20 {
  margin-left: -80px;
  margin-right: -80px;
}

.p-x-20 {
  padding-left: 80px;
  padding-right: 80px;
}

.m-y-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.m-y-n0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.p-y-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.m-y-1 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.m-y-n1 {
  margin-top: -4px;
  margin-bottom: -4px;
}

.p-y-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.m-y-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.m-y-n2 {
  margin-top: -8px;
  margin-bottom: -8px;
}

.p-y-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.m-y-3 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.m-y-n3 {
  margin-top: -12px;
  margin-bottom: -12px;
}

.p-y-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.m-y-4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.m-y-n4 {
  margin-top: -16px;
  margin-bottom: -16px;
}

.p-y-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.m-y-5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-y-n5 {
  margin-top: -20px;
  margin-bottom: -20px;
}

.p-y-5 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.m-y-6 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.m-y-n6 {
  margin-top: -24px;
  margin-bottom: -24px;
}

.p-y-6 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.m-y-7 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.m-y-n7 {
  margin-top: -28px;
  margin-bottom: -28px;
}

.p-y-7 {
  padding-top: 28px;
  padding-bottom: 28px;
}

.m-y-8 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.m-y-n8 {
  margin-top: -32px;
  margin-bottom: -32px;
}

.p-y-8 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.m-y-9 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.m-y-n9 {
  margin-top: -36px;
  margin-bottom: -36px;
}

.p-y-9 {
  padding-top: 36px;
  padding-bottom: 36px;
}

.m-y-10 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.m-y-n10 {
  margin-top: -40px;
  margin-bottom: -40px;
}

.p-y-10 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.m-y-11 {
  margin-top: 44px;
  margin-bottom: 44px;
}

.m-y-n11 {
  margin-top: -44px;
  margin-bottom: -44px;
}

.p-y-11 {
  padding-top: 44px;
  padding-bottom: 44px;
}

.m-y-12 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.m-y-n12 {
  margin-top: -48px;
  margin-bottom: -48px;
}

.p-y-12 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.m-y-13 {
  margin-top: 52px;
  margin-bottom: 52px;
}

.m-y-n13 {
  margin-top: -52px;
  margin-bottom: -52px;
}

.p-y-13 {
  padding-top: 52px;
  padding-bottom: 52px;
}

.m-y-14 {
  margin-top: 56px;
  margin-bottom: 56px;
}

.m-y-n14 {
  margin-top: -56px;
  margin-bottom: -56px;
}

.p-y-14 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.m-y-15 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.m-y-n15 {
  margin-top: -60px;
  margin-bottom: -60px;
}

.p-y-15 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.m-y-16 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.m-y-n16 {
  margin-top: -64px;
  margin-bottom: -64px;
}

.p-y-16 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.m-y-17 {
  margin-top: 68px;
  margin-bottom: 68px;
}

.m-y-n17 {
  margin-top: -68px;
  margin-bottom: -68px;
}

.p-y-17 {
  padding-top: 68px;
  padding-bottom: 68px;
}

.m-y-18 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.m-y-n18 {
  margin-top: -72px;
  margin-bottom: -72px;
}

.p-y-18 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.m-y-19 {
  margin-top: 76px;
  margin-bottom: 76px;
}

.m-y-n19 {
  margin-top: -76px;
  margin-bottom: -76px;
}

.p-y-19 {
  padding-top: 76px;
  padding-bottom: 76px;
}

.m-y-20 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.m-y-n20 {
  margin-top: -80px;
  margin-bottom: -80px;
}

.p-y-20 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.m-t-0 {
  margin-top: 0px !important;
}

.m-t-n0 {
  margin-top: 0px;
}

.p-t-0 {
  padding-top: 0px;
}

.m-t-1 {
  margin-top: 4px !important;
}

.m-t-n1 {
  margin-top: -4px;
}

.p-t-1 {
  padding-top: 4px;
}

.m-t-2 {
  margin-top: 8px !important;
}

.m-t-n2 {
  margin-top: -8px;
}

.p-t-2 {
  padding-top: 8px;
}

.m-t-3 {
  margin-top: 12px !important;
}

.m-t-n3 {
  margin-top: -12px;
}

.p-t-3 {
  padding-top: 12px;
}

.m-t-4 {
  margin-top: 16px !important;
}

.m-t-n4 {
  margin-top: -16px;
}

.p-t-4 {
  padding-top: 16px;
}

.m-t-5 {
  margin-top: 20px !important;
}

.m-t-n5 {
  margin-top: -20px;
}

.p-t-5 {
  padding-top: 20px;
}

.m-t-6 {
  margin-top: 24px !important;
}

.m-t-n6 {
  margin-top: -24px;
}

.p-t-6 {
  padding-top: 24px;
}

.m-t-7 {
  margin-top: 28px !important;
}

.m-t-n7 {
  margin-top: -28px;
}

.p-t-7 {
  padding-top: 28px;
}

.m-t-8 {
  margin-top: 32px !important;
}

.m-t-n8 {
  margin-top: -32px;
}

.p-t-8 {
  padding-top: 32px;
}

.m-t-9 {
  margin-top: 36px !important;
}

.m-t-n9 {
  margin-top: -36px;
}

.p-t-9 {
  padding-top: 36px;
}

.m-t-10 {
  margin-top: 40px !important;
}

.m-t-n10 {
  margin-top: -40px;
}

.p-t-10 {
  padding-top: 40px;
}

.m-t-11 {
  margin-top: 44px !important;
}

.m-t-n11 {
  margin-top: -44px;
}

.p-t-11 {
  padding-top: 44px;
}

.m-t-12 {
  margin-top: 48px !important;
}

.m-t-n12 {
  margin-top: -48px;
}

.p-t-12 {
  padding-top: 48px;
}

.m-t-13 {
  margin-top: 52px !important;
}

.m-t-n13 {
  margin-top: -52px;
}

.p-t-13 {
  padding-top: 52px;
}

.m-t-14 {
  margin-top: 56px !important;
}

.m-t-n14 {
  margin-top: -56px;
}

.p-t-14 {
  padding-top: 56px;
}

.m-t-15 {
  margin-top: 60px !important;
}

.m-t-n15 {
  margin-top: -60px;
}

.p-t-15 {
  padding-top: 60px;
}

.m-t-16 {
  margin-top: 64px !important;
}

.m-t-n16 {
  margin-top: -64px;
}

.p-t-16 {
  padding-top: 64px;
}

.m-t-17 {
  margin-top: 68px !important;
}

.m-t-n17 {
  margin-top: -68px;
}

.p-t-17 {
  padding-top: 68px;
}

.m-t-18 {
  margin-top: 72px !important;
}

.m-t-n18 {
  margin-top: -72px;
}

.p-t-18 {
  padding-top: 72px;
}

.m-t-19 {
  margin-top: 76px !important;
}

.m-t-n19 {
  margin-top: -76px;
}

.p-t-19 {
  padding-top: 76px;
}

.m-t-20 {
  margin-top: 80px !important;
}

.m-t-n20 {
  margin-top: -80px;
}

.p-t-20 {
  padding-top: 80px;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.m-b-n0 {
  margin-bottom: 0px;
}

.p-b-0 {
  padding-bottom: 0px;
}

.m-b-1 {
  margin-bottom: 4px !important;
}

.m-b-n1 {
  margin-bottom: -4px;
}

.p-b-1 {
  padding-bottom: 4px;
}

.m-b-2 {
  margin-bottom: 8px !important;
}

.m-b-n2 {
  margin-bottom: -8px;
}

.p-b-2 {
  padding-bottom: 8px;
}

.m-b-3 {
  margin-bottom: 12px !important;
}

.m-b-n3 {
  margin-bottom: -12px;
}

.p-b-3 {
  padding-bottom: 12px;
}

.m-b-4 {
  margin-bottom: 16px !important;
}

.m-b-n4 {
  margin-bottom: -16px;
}

.p-b-4 {
  padding-bottom: 16px;
}

.m-b-5 {
  margin-bottom: 20px !important;
}

.m-b-n5 {
  margin-bottom: -20px;
}

.p-b-5 {
  padding-bottom: 20px;
}

.m-b-6 {
  margin-bottom: 24px !important;
}

.m-b-n6 {
  margin-bottom: -24px;
}

.p-b-6 {
  padding-bottom: 24px;
}

.m-b-7 {
  margin-bottom: 28px !important;
}

.m-b-n7 {
  margin-bottom: -28px;
}

.p-b-7 {
  padding-bottom: 28px;
}

.m-b-8 {
  margin-bottom: 32px !important;
}

.m-b-n8 {
  margin-bottom: -32px;
}

.p-b-8 {
  padding-bottom: 32px;
}

.m-b-9 {
  margin-bottom: 36px !important;
}

.m-b-n9 {
  margin-bottom: -36px;
}

.p-b-9 {
  padding-bottom: 36px;
}

.m-b-10 {
  margin-bottom: 40px !important;
}

.m-b-n10 {
  margin-bottom: -40px;
}

.p-b-10 {
  padding-bottom: 40px;
}

.m-b-11 {
  margin-bottom: 44px !important;
}

.m-b-n11 {
  margin-bottom: -44px;
}

.p-b-11 {
  padding-bottom: 44px;
}

.m-b-12 {
  margin-bottom: 48px !important;
}

.m-b-n12 {
  margin-bottom: -48px;
}

.p-b-12 {
  padding-bottom: 48px;
}

.m-b-13 {
  margin-bottom: 52px !important;
}

.m-b-n13 {
  margin-bottom: -52px;
}

.p-b-13 {
  padding-bottom: 52px;
}

.m-b-14 {
  margin-bottom: 56px !important;
}

.m-b-n14 {
  margin-bottom: -56px;
}

.p-b-14 {
  padding-bottom: 56px;
}

.m-b-15 {
  margin-bottom: 60px !important;
}

.m-b-n15 {
  margin-bottom: -60px;
}

.p-b-15 {
  padding-bottom: 60px;
}

.m-b-16 {
  margin-bottom: 64px !important;
}

.m-b-n16 {
  margin-bottom: -64px;
}

.p-b-16 {
  padding-bottom: 64px;
}

.m-b-17 {
  margin-bottom: 68px !important;
}

.m-b-n17 {
  margin-bottom: -68px;
}

.p-b-17 {
  padding-bottom: 68px;
}

.m-b-18 {
  margin-bottom: 72px !important;
}

.m-b-n18 {
  margin-bottom: -72px;
}

.p-b-18 {
  padding-bottom: 72px;
}

.m-b-19 {
  margin-bottom: 76px !important;
}

.m-b-n19 {
  margin-bottom: -76px;
}

.p-b-19 {
  padding-bottom: 76px;
}

.m-b-20 {
  margin-bottom: 80px !important;
}

.m-b-n20 {
  margin-bottom: -80px;
}

.p-b-20 {
  padding-bottom: 80px;
}

.m-l-0 {
  margin-left: 0px;
}

.m-l-n0 {
  margin-left: 0px;
}

.p-l-0 {
  padding-left: 0px !important;
}

.m-l-1 {
  margin-left: 4px;
}

.m-l-n1 {
  margin-left: -4px;
}

.p-l-1 {
  padding-left: 4px !important;
}

.m-l-2 {
  margin-left: 8px;
}

.m-l-n2 {
  margin-left: -8px;
}

.p-l-2 {
  padding-left: 8px !important;
}

.m-l-3 {
  margin-left: 12px;
}

.m-l-n3 {
  margin-left: -12px;
}

.p-l-3 {
  padding-left: 12px !important;
}

.m-l-4 {
  margin-left: 16px;
}

.m-l-n4 {
  margin-left: -16px;
}

.p-l-4 {
  padding-left: 16px !important;
}

.m-l-5 {
  margin-left: 20px;
}

.m-l-n5 {
  margin-left: -20px;
}

.p-l-5 {
  padding-left: 20px !important;
}

.m-l-6 {
  margin-left: 24px;
}

.m-l-n6 {
  margin-left: -24px;
}

.p-l-6 {
  padding-left: 24px !important;
}

.m-l-7 {
  margin-left: 28px;
}

.m-l-n7 {
  margin-left: -28px;
}

.p-l-7 {
  padding-left: 28px !important;
}

.m-l-8 {
  margin-left: 32px;
}

.m-l-n8 {
  margin-left: -32px;
}

.p-l-8 {
  padding-left: 32px !important;
}

.m-l-9 {
  margin-left: 36px;
}

.m-l-n9 {
  margin-left: -36px;
}

.p-l-9 {
  padding-left: 36px !important;
}

.m-l-10 {
  margin-left: 40px;
}

.m-l-n10 {
  margin-left: -40px;
}

.p-l-10 {
  padding-left: 40px !important;
}

.m-l-11 {
  margin-left: 44px;
}

.m-l-n11 {
  margin-left: -44px;
}

.p-l-11 {
  padding-left: 44px !important;
}

.m-l-12 {
  margin-left: 48px;
}

.m-l-n12 {
  margin-left: -48px;
}

.p-l-12 {
  padding-left: 48px !important;
}

.m-l-13 {
  margin-left: 52px;
}

.m-l-n13 {
  margin-left: -52px;
}

.p-l-13 {
  padding-left: 52px !important;
}

.m-l-14 {
  margin-left: 56px;
}

.m-l-n14 {
  margin-left: -56px;
}

.p-l-14 {
  padding-left: 56px !important;
}

.m-l-15 {
  margin-left: 60px;
}

.m-l-n15 {
  margin-left: -60px;
}

.p-l-15 {
  padding-left: 60px !important;
}

.m-l-16 {
  margin-left: 64px;
}

.m-l-n16 {
  margin-left: -64px;
}

.p-l-16 {
  padding-left: 64px !important;
}

.m-l-17 {
  margin-left: 68px;
}

.m-l-n17 {
  margin-left: -68px;
}

.p-l-17 {
  padding-left: 68px !important;
}

.m-l-18 {
  margin-left: 72px;
}

.m-l-n18 {
  margin-left: -72px;
}

.p-l-18 {
  padding-left: 72px !important;
}

.m-l-19 {
  margin-left: 76px;
}

.m-l-n19 {
  margin-left: -76px;
}

.p-l-19 {
  padding-left: 76px !important;
}

.m-l-20 {
  margin-left: 80px;
}

.m-l-n20 {
  margin-left: -80px;
}

.p-l-20 {
  padding-left: 80px !important;
}

.m-r-0 {
  margin-right: 0px !important;
}

.m-r-n0 {
  margin-right: 0px;
}

.p-r-0 {
  padding-right: 0px;
}

.m-r-1 {
  margin-right: 4px !important;
}

.m-r-n1 {
  margin-right: -4px;
}

.p-r-1 {
  padding-right: 4px;
}

.m-r-2 {
  margin-right: 8px !important;
}

.m-r-n2 {
  margin-right: -8px;
}

.p-r-2 {
  padding-right: 8px;
}

.m-r-3 {
  margin-right: 12px !important;
}

.m-r-n3 {
  margin-right: -12px;
}

.p-r-3 {
  padding-right: 12px;
}

.m-r-4 {
  margin-right: 16px !important;
}

.m-r-n4 {
  margin-right: -16px;
}

.p-r-4 {
  padding-right: 16px;
}

.m-r-5 {
  margin-right: 20px !important;
}

.m-r-n5 {
  margin-right: -20px;
}

.p-r-5 {
  padding-right: 20px;
}

.m-r-6 {
  margin-right: 24px !important;
}

.m-r-n6 {
  margin-right: -24px;
}

.p-r-6 {
  padding-right: 24px;
}

.m-r-7 {
  margin-right: 28px !important;
}

.m-r-n7 {
  margin-right: -28px;
}

.p-r-7 {
  padding-right: 28px;
}

.m-r-8 {
  margin-right: 32px !important;
}

.m-r-n8 {
  margin-right: -32px;
}

.p-r-8 {
  padding-right: 32px;
}

.m-r-9 {
  margin-right: 36px !important;
}

.m-r-n9 {
  margin-right: -36px;
}

.p-r-9 {
  padding-right: 36px;
}

.m-r-10 {
  margin-right: 40px !important;
}

.m-r-n10 {
  margin-right: -40px;
}

.p-r-10 {
  padding-right: 40px;
}

.m-r-11 {
  margin-right: 44px !important;
}

.m-r-n11 {
  margin-right: -44px;
}

.p-r-11 {
  padding-right: 44px;
}

.m-r-12 {
  margin-right: 48px !important;
}

.m-r-n12 {
  margin-right: -48px;
}

.p-r-12 {
  padding-right: 48px;
}

.m-r-13 {
  margin-right: 52px !important;
}

.m-r-n13 {
  margin-right: -52px;
}

.p-r-13 {
  padding-right: 52px;
}

.m-r-14 {
  margin-right: 56px !important;
}

.m-r-n14 {
  margin-right: -56px;
}

.p-r-14 {
  padding-right: 56px;
}

.m-r-15 {
  margin-right: 60px !important;
}

.m-r-n15 {
  margin-right: -60px;
}

.p-r-15 {
  padding-right: 60px;
}

.m-r-16 {
  margin-right: 64px !important;
}

.m-r-n16 {
  margin-right: -64px;
}

.p-r-16 {
  padding-right: 64px;
}

.m-r-17 {
  margin-right: 68px !important;
}

.m-r-n17 {
  margin-right: -68px;
}

.p-r-17 {
  padding-right: 68px;
}

.m-r-18 {
  margin-right: 72px !important;
}

.m-r-n18 {
  margin-right: -72px;
}

.p-r-18 {
  padding-right: 72px;
}

.m-r-19 {
  margin-right: 76px !important;
}

.m-r-n19 {
  margin-right: -76px;
}

.p-r-19 {
  padding-right: 76px;
}

.m-r-20 {
  margin-right: 80px !important;
}

.m-r-n20 {
  margin-right: -80px;
}

.p-r-20 {
  padding-right: 80px;
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-iblock {
  display: inline-block;
}
.d-flex {
  display: flex;
}
.d-iflex {
  display: inline-flex;
}

.jc-space-around {
  justify-content: space-around;
}

.text-c {
  text-align: center;
}
.text-r {
  text-align: right;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-uppercase {
  text-transform: uppercase;
}

.overflow-auto {
  overflow: auto;
}
.overflow-auto--y {
  overflow-y: auto;
}

.fc-blue {
  color: blue;
}
.fc-purple {
  color: #a91fa9;
}

.fw-bold {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (max-width: 481px) {
  .hidden-sm {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 1025px) {
  .hidden-md {
    display: none;
  }
}
@media screen and (min-width: 1080px) {
  .hidden-lg {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
