#{$global}-dp {
    height: pxToRem(231);
    width: pxToRem(231);
    background-color: map-get($gray, "1a1a1a");
    border-radius: 100%;
    margin: auto;
    background-image: url('/src/assets/images/self.jpg');
    background-size: cover;
}

