#{$global}-tag {
    height: pxToRem(20);
    border-radius: pxToRem(20);
    background: linear-gradient(to right, purple, orange);
    margin: 0 pxToRem(5);
    box-sizing: content-box;

    &__body {
        height: pxToRem(15);
        padding: 2px 7px 0.5px 7px;
        margin: 0px 1px;
        color: white;
        font-size: 10px;
        @extend .poppins-regular;
        background: black;
        border-radius: pxToRem(20);
        //display: inline-block;
        cursor: pointer;
        display: inline-block;
    }
}