$baseUnit: 14;
$global: ".portfolio";
$spacer: 4px;

$mobile-maxw: 481px;
$tab-minw: 481px;
$tab-maxw: 1025px;
$desktop-minw: 1080px;

/*
$green: #0a7f15;
*/
$gray: (
    "9a9a9a": #9a9a9a,
    'e1e1e1': #e1e1e1,
    '1a1a1a': #1a1a1a
);

$purple: #a91fa9;

