#{$global}-header {
    height: pxToRem(80);
    width: 100%;
    max-width: 100%;
    &__content {
        //padding: pxToRem(20) pxToRem(105) 0 pxToRem(45);
        display: flex;
        justify-content: space-between;
        width: calc(100% - 20px);
        margin: auto;
        padding-top: pxToRem(20);
        padding-left: pxToRem(10);
        padding-left: pxToRem(10);
        @media screen and (max-width: $tab-maxw) {
            width: 100%;
            padding: pxToRem(20) pxToRem(10);
        }

        @media screen and (min-width: $desktop-minw) {
            width: pxToRem(1024);
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__fname {
        @extend .poppins-bold;
        font-size: 22px;
        color: white;
    }
    &__lname {
        @extend .poppins-regular;
        font-size: 10px;
        color: white;
    }
    &__btn-link {
        color: map-get($gray, 'e1e1e1');
        border-radius: 8px;
        padding: 10px;
        height: 15px;
        border: 1px solid map-get($gray, '9a9a9a');
        display: inline-block;
        text-decoration: none;
        &:hover {
            color: black;
            background-color: white;
        }
    }
}