#{$global}-header {
    height: pxToRem(80);
    max-height: pxToRem(80);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;

    &__content {
        //padding: pxToRem(20) pxToRem(105) 0 pxToRem(45);
        display: flex;
        justify-content: space-between;
        width: calc(100% - 40px);
        margin: auto;
        padding: pxToRem(20) pxToRem(20) 0 pxToRem(20);

        @media screen and (max-width: $tab-maxw) {
            width: calc(100% - 40px);
            padding: pxToRem(20);
        }

        @media screen and (min-width: $desktop-minw) {
            width: pxToRem(1024);
        }
    }
    
    &__fname {
        @extend .poppins-bold;
        font-size: 22px;
        color: white;

        @media screen and (max-width: $tab-maxw) {
            font-size: 18px;
        }
    }
    &__lname {
        @extend .poppins-regular;
        font-size: 10px;
        color: white;
    }
    &__btn-link {
        color: map-get($gray, 'e1e1e1');
        border-radius: 8px;
        padding: 10px;
        height: 15px;
        border: 1px solid map-get($gray, '9a9a9a');
        display: inline-block;
        text-decoration: none;
        &:hover {
            color: black;
            background-color: white;
        }
    }
}