#{$global}-main {
    background-image: url("/src/assets/images/background-pattern.png");
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100% - 60px);
    width: 100%;
}