#{$global}-main {
    width: 100%;
    height: calc(100% - 160px);
    overflow-y: auto;
    padding: pxToRem(120) 0 pxToRem(40) 0;
    box-sizing: content-box;

    &-content {
        background-image: url("/src/assets/images/background-pattern.png");
        background-repeat: no-repeat;
        //background-position: center;
        //width: pxToRem(1024);
        width: calc(100% - 20px);
        margin: auto;

        @media screen and (max-width: $tab-maxw) {
            width: calc(100% - 40px);
            padding: 0 pxToRem(20);
        }

        @media screen and (min-width: $desktop-minw) {
            width: pxToRem(1024);
            //padding: 0 pxToRem(20);
        }
    }
    
    &__section {
        padding: pxToRem(20) 0;
    }
    &__footer {
        min-height: pxToRem(50);
        padding: pxToRem(20);
        width: pxToRem(1004);
        margin: auto;
        text-align: center;

        @media screen and (max-width: $tab-maxw) {
            width: calc(100% - 40px);
        }
    }
}